.mdprofile_100 {
    background-size: 100px 100px;
    border-radius: 50%;
    display: block;
    height: 100px;
    margin: -1px;
    width: 100px;
}
.mdprofile_200 {
    background-size: 200px 200px;
    border-radius: 50%;
    display: block;
    height: 200px;
    margin: -1px;
    width: 200px;
}
.mdprofile_150 {
    background-size: 150px 150px;
    border-radius: 50%;
    display: block;
    height: 150px;
    margin: -1px;
    width: 150px;
}
.mdprofile_50 {
    background-size: 50px 50px;
    border-radius: 50%;
    display: block;
    height: 50px;
    margin: -1px;
    width: 50px;
}