<div data-role="panel" id="mypanel" data-theme="b">
    <ul data-role="listview">
        <li class="buyers-home active"><img style="float: left;margin: 5% 2%;" src="/images/buyerhome.png"/><a style="color:#FFFFFF;font-size: 16px;" href="/my_deals/sellerhome" rel="external">Seller</a></li>
        <li  class="paid-ads"><img style="float: left;margin: 5% 2%;" src="/images/paidads.png"/><a style="color:#FFFFFF;font-size: 16px;" href="/my_deals/paid_ads">Paid Ads</a></li>
        <li  class="volume-deals"><img style="float: left;margin: 5% 2%;" src="/images/volume_deal2.png"/><a style="color:#FFFFFF;font-size: 16px;" href="/my_deals/volume_deals_list">Volume Deals</a></li>
        <li  class="jobs" ><img style="float: left;margin: 5% 2%;" src="/images/jobs2.png"/><a style="color:#FFFFFF;font-size: 16px;" href="/my_deals/employer_home">JOBs</a></li>
        <li  class="book-catlog" ><img style="float: left;margin: 5% 2%;" src="/images/book_cat.png"/><a style="color:#FFFFFF;font-size: 16px;" href="/my_deals/book_catlog">Book Catalog</a></li>
        <li  class="paid-ads"><img style="float: left;margin: 5% 2%;" src="/images/seller_offer.png"/> <a style="color:#FFFFFF;font-size: 16px;" href="/my_deals/buyerhome" rel="external">Me as Buyer</a></li>
        <li class="buyers-home active" ><img style="float: left;margin: 5% 2%;" src="/images/profile.png"/><a style="color:#FFFFFF;font-size: 16px;" href="/my_deals/profiles" rel="external">Profile</a></li>
        
    </ul>
</div>
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme='b'>
	<a href="#mypanel" data-ajax="false"><i class='icon-align-justify'></i></a>
	<h1><%=header%></Volume></h1>
</div>