<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/css/custome.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/jquerymobile.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.light.css"  id='jQMnDTheme' />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.color.yellow.css" id='jQMnDColor' />
        <script src="/js/jquery-1.9.1.js"></script>
        <script src="/js/jquery.mobile-1.3.1.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
    </head>
    <body>
        <div data-role="page" data-theme='b'>
            <%if !session[:uType].blank? && session[:uType] == "buyer" %>
				<%=render :partial => "my_deals/buyer_sub_menu" , :locals => {:header => "Buyer Requests"}%>
			<%else -%>
				<%=render :partial => "my_deals/seller_sub_menu" , :locals => {:header => "Buyer Requests"}%>
			<%end -%>
            <div data-role="content">
                <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
                    <div data-role="collapsible">
                        <h3>Buyer Request - Details</h3>
                        <div class='inset'>
                            <ul data-role="listview">
                                <font color='red'>Cab Booking Near By RV Dental College</font><br><br><table style='color:black' border=1> <tr><td><font size='-1'> Category ID: </font><font size='-2'>1329</font></td><td><b><font size='-1'>Item Name: </font><font size='-2'> Cab Booking Near By RV Dental College</font> </td></tr> <tr><td><font size='-1'>Sub Category: </font><font size='-2'>Tour OR Long Distance Package</td><td><font size='-1'> No. Of Items:</font><font size='-2'>null</td></tr><tr><td><font size='-1'>Shipping Pref: </font><font size='-2'>Lowest Price</td><td><font size='-1'>City: </font><font size='-2'>Bangalore, India</td></tr></table><br>
                                <table>
                                    <tr><td>
                                            <div id="expire" style="color: black">Time Left: </div>
                                        </td>
                                        <td valign="top"><table id="content1" style='color:black' border=1><tr><td>Merchant Offers</td></b></tr></table>
                                        </td>
                                    </tr>
                                </table>
                            </ul>
                        </div>
                    </div>
                    <div data-role="collapsible">
                        <h3>Post Your Offer</h3>
                        <div class='inset'>
                            <ul data-role="listview">
                                <div data-role="content">
                                    <form action="">
                                        <input class="ui-input-text ui-body-b" name="name2" id="offer" value="" data-clear-btn="true" placeholder="Offer Per Item (Rs):" type="text" min="7" max="7">
                                        <div class="ui-select">
                                            <select name="select-choice-1" id="mos" data-native-menu="true">
                                                <option value="">Mode Of Shipping:</option>
                                                <option value="Person to Person">Person to person / store pickup</option>	
                                                <option value="Courier/Shipping">Courier/Shipping</option>
                                            </select>
                                        </div>
                                        <div class="ui-select">
                                            <select name="select-choice-1" id="mos" data-native-menu="true">
                                                <option value="">Offer expires in:</option>
                                                <option value="45">45</option>
                                                <option value="44">44</option>
                                                <option value="43">43</option>
                                                <option value="42">42</option>
                                                <option value="41">41</option>
                                                <option value="40">40</option>
                                                <option value="39">39</option>
                                                <option value="38">38</option>
                                                <option value="37">37</option>
                                                <option value="36">36</option>
                                                <option value="35">35</option>
                                                <option value="34">34</option>
                                                <option value="33">33</option>
                                                <option value="32">32</option>
                                                <option value="31">31</option>
                                                <option value="30">30</option>
                                                <option value="29">29</option>
                                                <option value="28">28</option>
                                                <option value="27">27</option>
                                                <option value="26">26</option>
                                                <option value="25">25</option>
                                                <option value="24">24</option>
                                                <option value="23">23</option>
                                                <option value="22">22</option>
                                                <option value="21">21</option>
                                                <option value="20">20</option>
                                                <option value="19">19</option>
                                                <option value="18">18</option>
                                                <option value="17">17</option>
                                                <option value="16">16</option>
                                                <option value="15">15</option>
                                                <option value="14">14</option>
                                                <option value="13">13</option>
                                                <option value="12">12</option>
                                                <option value="11">11</option>
                                                <option value="10">10</option>
                                                <option value="9">9</option>
                                                <option value="8">8</option>
                                                <option value="7">7</option>
                                                <option value="6">6</option>
                                                <option value="5">5</option>
                                                <option value="4">4</option>
                                                <option value="3">3</option>
                                            </select>
                                        </div>
                                        <input class="ui-input-text ui-body-b" name="specification" id="specification" value="" data-clear-btn="true" placeholder="Item Specification" type="text">
                                        <input class="ui-input-text ui-body-b" name="fileToUpload" id="fileToUpload" value="" data-clear-btn="true"  type="file">
                                        <div class="ui-checkbox">
                                            <input name="tmp" id="tmp" value=""  type="checkbox">
                                            <label for="tmp">Save As Template?:</label>
                                        </div>
                                        <div data-position="fixed" data-tap-toggle="false" data-role="footer"  data-theme='b'>
                                            <div data-role="navbar">
                                                <ul>
                                                    <li><a href="#" data-icon="mobile-phone" >Cancel</a></li>

                                                    <li><a href="#" data-icon="lock" onclick="procced();">Procced</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

