<!DOCTYPE html>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/css/custome.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/jquerymobile.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.light.css"  id='jQMnDTheme' />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.color.yellow.css" id='jQMnDColor' />
        <script src="/js/jquery-1.9.1.js"></script>
        <script src="/js/jquery.mobile-1.3.1.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
    </head>
	<body>
		<div data-role="page" id="home">
			<%if !session[:uType].blank? && session[:uType] == "buyer" %>
				<%=render :partial => "my_deals/buyer_sub_menu" , :locals => {:header => "Item List"}%>
			<%else -%>
				<%=render :partial => "my_deals/seller_sub_menu" , :locals => {:header => "Item List"}%>
			<%end -%>
			<div align="center" data-role="content" id="accordion">
				<div data-role="collapsible-set">

					<div data-role="collapsible" data-collapsed="false"  data-theme="b" data-content-theme="c">
						<h3>Specifications</h3>
						<ul data-role="listview" data-inset="true" id="specificatons">
						</ul>
					</div>
					<div data-role="collapsible" data-theme="b" data-content-theme="c">
						<h3>Gallery</h3>
						<ul data-role="listview" data-inset="true" id="gallery">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
