<!DOCTYPE html> 
<html> 
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/css/custome.css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/jquerymobile.css" />
		<link rel="stylesheet" href="/css/jquerymobile.nativedroid.css" />
		<link rel="stylesheet" href="/css/jquerymobile.nativedroid.light.css"  id='jQMnDTheme' />
		<link rel="stylesheet" href="/css/jquerymobile.nativedroid.color.yellow.css" id='jQMnDColor' />
		<script src="/js/jquery-1.9.1.js"></script>
		<script src="/js/jquery.mobile-1.3.1.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
	</head> 
    <body>
		<div data-role="page" id="chnge_pwd" data-theme='b'>
			<input type="hidden" name="swcategory" id="swcategory" value="<%=session[:user_type]%>"/>
			<input type="hidden" name="swcategory" id="swcategory" value="<%=session[:uType]%>"/>
			<%if !session[:uType].blank? && session[:uType] == "buyer" %>
				<%= render :partial => "my_deals/buyer_sub_menu" , :locals => {:header => "Change Password"}%>
			<%else -%>
				<%= render :partial => "my_deals/seller_sub_menu" , :locals => {:header => "Change Password"}%>
			<%end -%>
			<script>
	            function validateForm(){
	                var valueis = '';
	                var elementform = '';
	                var o=document.forms["frm2"]["old_password"].value;
	                if (o==null || o=="")
	                {
	                    elementform = "Old Password must be filled out";
	                    valueis = elementform+'<br>';
	                    document.getElementById('old_password').focus()
	                    document.getElementById('valerror').innerHTML = valueis;
	                    document.getElementById("valerror").style.display="block";
	                    return false;
	                }
			  
	                var x=document.forms["frm2"]["new_password"].value;
	                if (x==null || x=="")
	                {
	                    elementform="New Password must be filled out";
	                    valueis=elementform+'<br>';
	                    document.getElementById('old_password').focus()
	                    document.getElementById('valerror').innerHTML = valueis;
	                    document.getElementById("valerror").style.display="block";
	                    return false;
	                }
	                var x=document.forms["frm2"]["new_password"].value;
	                if(x.length < 6)
	                {
	                    elementform="New Password lenght must be more than 6 charcter";
	                    valueis=elementform+'<br>';
	                    document.getElementById('old_password').focus()
	                    document.getElementById('valerror').innerHTML = valueis;
	                    document.getElementById("valerror").style.display="block";
	                    return false;
	                }
			  
	                var y=document.forms["frm2"]["confirm_password"].value;
	                if (y==null || y=="")
	                {
	                    elementform="Confirm Password must be filled out";
	                    valueis=elementform+'<br>';
	                    document.getElementById('old_password').focus()
	                    document.getElementById('valerror').innerHTML = valueis;
	                    document.getElementById("valerror").style.display="block";
	                    return false;
	                }
	                var y=document.forms["frm2"]["confirm_password"].value;
	                if(y.length < 6)
	                {
	                    elementform="Confirm Password lenght must be more than 6 charcter";
	                    valueis=elementform+'<br>';
	                    document.getElementById('old_password').focus()
	                    document.getElementById('valerror').innerHTML = valueis;
	                    document.getElementById("valerror").style.display="block";
	                    return false;
	                }
	                if (x!=y)
	                {
	                    elementform="Password does not match";
	                    valueis=elementform+'<br>';
	                    document.getElementById('old_password').focus()
	                    document.getElementById('valerror').innerHTML = valueis;
	                    document.getElementById("valerror").style.display="block";
	                    return false;
	                }
			  
	                if (x==o)
	                {
	                    elementform="The old and new passwords are same.";
	                    valueis=elementform+'<br>';
	                    document.getElementById('old_password').focus()
	                    document.getElementById('valerror').innerHTML = valueis;
	                    document.getElementById("valerror").style.display="block";
	                    return false;
	                }
	                return true;
	            }
	        </script>
	        <script>
	            $(document).ready(function(){
	                $('#update').click(function(){
	                	  if(validateForm() != false){
	                        document.getElementById('valerror').innerHTML ="";
	                        var auth_token = localStorage.getItem("auth");
	                        var old_password = $('#old_password').val();
	                        var new_password = $('#new_password').val();
	                        var confirm_password = $('#confirm_password').val();
	                        var auth_token = localStorage.getItem("auth");
				            if (auth_token == null)
				               window.location.href = "login"
				            $('#valerror').html('<center><font color="green">Please wait...</font> <img src="/images/load2.gif"></center>');
				            $('#valerror').show();   
				            $.ajax({
	                            url: "/my_deals/changeMY_password",
	                            dataType: 'json',
	                            timeout: 20000,
	                            data:{old_password:old_password,new_password:new_password,confirm_password:confirm_password,auth_token:auth_token},
	                            success: function(json, status){
	                                if(json.success){
	                                    localStorage.setItem("auth", null);
	                                    $('#valerror').html("<font color='green'>"+json.msg+" Please login again.");
	                                    $('#valerror').show();
	                                    location.href = "index";
	                                }else{
	                                	$('#valerror').html("<font color='red'>"+json.msg);
	                                	$('#valerror').show();
										return false;
	                                }	 
	                            },
								error : function() {
									$('#valerror').html("<font color='red'>Error occured while changing your password, Please try again.</font>");
									$('#valerror').show();
									return false;
								}
	                        });
	                    }
	                });
	                $('#cancel').click(function(){
	                    location.href="profiles";
	                });
	            });
	        </script>
			<div align="center" data-role="content">
				<form action="" method="post" id="frm2">
					<ul data-role="listview" data-inset="true">
						
						<li id="valerror" style="color:#F00; display:none;"></li>
						<li>
							<fieldset data-role="controlgroup">
								<input type="password" name="c" id="old_password" placeholder="Old Password*">
								<span id="iname_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<input type="password" name="nitems" id="new_password" placeholder="New Password*">
								<span id="nitems_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<input type="password" name="bitme" id="confirm_password" placeholder="Confirm Password*">
								<span id="bitme_error"></span>
							</fieldset>
							<div class="ui-grid-a">
								<div class="ui-block-a">
									<a href="#"  id="update"><img src="/images/update.png" style="width: 90%;"></a>
								</div>
								<div class="ui-block-b">
									<a href="#"  id="cancel"><img src="/images/cancel.png" style="width: 90%;"></a>
								</div>
							</div>

						</li>
					</ul>
			</div>
			</form>
		</div>
	</body>
</html> 