<!DOCTYPE html>
<html>
	 <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/css/custome.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/jquerymobile.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.light.css"  id='jQMnDTheme' />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.color.yellow.css" id='jQMnDColor' />
        <script src="/js/jquery-1.9.1.js"></script>
        <script src="/js/jquery.mobile-1.3.1.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
    </head>
	<body>
		<div data-role="page" id="edit_profile" data-theme='b'>
			<script type="text/javascript">
                function initialize() {

                    var options = {
                        types: ['(cities)'],
                        componentRestrictions: {country: "IN"}
                    };

                    var input = document.getElementById('city');
                    var autocomplete = new google.maps.places.Autocomplete(input, options); 
                }
                google.maps.event.addDomListener(window, 'load', initialize);
            </script>
			<%if !session[:uType].blank? && session[:uType] == "buyer" %>
				<%=render :partial => "my_deals/buyer_sub_menu" , :locals => {:header => "Edit Profile"}%>
			<%else -%>
				<%=render :partial => "my_deals/seller_sub_menu" , :locals => {:header => "Edit Profile"}%>
			<%end -%>
			<div align="center" data-role="content">
				<form action="" method="post" id="edit_profile_frm">
					<ul data-role="listview" data-inset="true">
						<li data-role="list-divider" id="lable_display">
							<center>Please wait, Loading Profile... <img src="/images/load2.gif"></center>
						</li>
						<li id="valerror" style="color:#F00; display:none;"></li>
						<li id="frm_data" style="display: none;">
							<input type="hidden" name="auth_token" id="auth_token" value=""/>
							<fieldset data-role="controlgroup">
								<input type="text" name="fname" id="fname" placeholder="First Name*">
								<span id="iname_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<input type="text" name="lname" id="lname" placeholder="Last Name*">
								<span id="ispecification_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<input type="text" name="city" id="city" placeholder="City*">
								<span id="ispecification_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<input type="text" name="zip" id="zip" placeholder="Zip/Pin Code*">
								<span id="ispecification_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<input type="text" readonly name="mobile" id="mobile" placeholder="Mobile*">
								<span id="ispecification_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<input type="text" name="fax" id="fax" placeholder="Fax">
								<span id="ispecification_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<textarea type="text" name="billing_addr" id="billing_addr" rows="2" placeholder="Billing Address"></textarea>
								<span id="ispecification_error"></span>
							</fieldset>
							<fieldset data-role="controlgroup">
								<input type="checkbox" name="chk" id="chk" onClick="addr();" data-role="none" data-theme="b"/>
								<label for="chk">Check if shipping address is same as billing address?</label>
								<script>
									function addr() {
										if (document.getElementById('chk').checked == true)
											document.getElementById('shipping_addr').value = document.getElementById('billing_addr').value;
									}
								</script>
							</fieldset>
							<fieldset data-role="controlgroup">
								<textarea type="text" name="shipping_addr" id="shipping_addr" rows="2" placeholder="Shipping Address"></textarea>
								<span id="ispecification_error"></span>
							</fieldset>
							<div class="ui-grid-a">
								<div class="ui-block-a">
									<a href="#"  id="update"><img src="/images/update.png" style="width: 90%;"></a>
								</div>
								<div class="ui-block-b">
									<a href="profile" ><img src="/images/cancel.png" style="width: 90%;"></a>
								</div>
							</div>
						</li>
					</ul>
				</form>
			</div>
			<script>
			    $(document).ready(function() {
			        var auth = localStorage.getItem("auth");
			        if (auth == null)
			            window.location.href = "login"
			        $('#auth_token').val(auth);
			        $.ajax({
			            url: "/my_deals/user_info",
			            dataType: 'json',
			            timeout: 10000,
			            data: {auth_token: auth},
			            success: function(json) {
			            	$('#lable_display').html('');
			                document.getElementById("fname").value = json.user.user.fname;
			                document.getElementById("lname").value = json.user.user.lname;
			                var city = json.address.address.city
			                if(json.address.address.state != null && json.address.address.state != ""){
			                	city += ', '+json.address.address.state;
			                }
			                if(json.address.address.country != null && json.address.address.country != ""){
			                	city += ', '+json.address.address.country;
			                }	
			                document.getElementById("city").value = city
			                document.getElementById("zip").value = json.address.address.zip;
			                document.getElementById("mobile").value = json.address.address.mobile;
			                document.getElementById("fax").value = json.address.address.fax;
			                document.getElementById("billing_addr").value = json.address.address.billing_addr;
			                document.getElementById("shipping_addr").value = json.address.address.shipping_addr;
			                $('#frm_data').show();
			            },
						error : function() {
							$('#lable_display').html("<font color='red'>Error occured while fetching profile details, Please try again.</font>");
							return false;
						}
			        });
			        $('#update').click(function() {
			            if (validateForm() != false) {
			            	$('#lable_display').html('<center>Please wait, Updating Profile... <img src="/images/load2.gif"></center>');
			                $.ajax({
								type : "POST",
								url : "/my_deals/update_profile",
								data : $("#edit_profile_frm").serialize(),
								dataType : "json",
								success : function(b) {
									if(b.success) {
										document.getElementById('valerror').innerHTML = "<font color='green'>"+b.msg+"</font>";
										$('#valerror').show();
										$('#lable_display').html('');
										window.location = "/my_deals/profile";
									} else {
										$('#valerror').html(b.msg);
										$('#valerror').show();
										$('#lable_display').html('');
										return false;
									}
								},
								error : function() {
									$('#lable_display').html('');
									$('#valerror').html("Error occured while updating preference, Please try again.");
									$('#valerror').show();
									return false;
								}
							});
			            }
			        });
			    });
			</script>
			<script>
			    function validateForm(){
				    var valueis = '';
				    var x = document.forms["edit_profile_frm"]["fname"].value;
				    if (x == null || x == ""){
				        elementform = "First name must be filled out";
				        valueis = elementform + '<br>';
				        document.getElementById('valerror').focus()
				        document.getElementById('valerror').innerHTML = valueis;
				        document.getElementById("valerror").style.display = "block";
				        return false;
				    }
				    var x = document.forms["edit_profile_frm"]["lname"].value;
				        if (x == null || x == ""){
				            elementform = "Last name must be filled out";
				            valueis = elementform + '<br>';
				            document.getElementById('valerror').focus()
				            document.getElementById('valerror').innerHTML = valueis;
				            document.getElementById("valerror").style.display = "block";
				            return false;
				        }
				    var x = document.forms["edit_profile_frm"]["city"].value;
				    if (x == null || x == ""){
				        elementform = "Please Enter City";
				        valueis = elementform + '<br>';
				        document.getElementById('valerror').focus()
				        document.getElementById('valerror').innerHTML = valueis;
				        document.getElementById("valerror").style.display = "block";
				        return false;
				    }
				    var x = document.forms["edit_profile_frm"]["zip"].value;
				    if (x == null || x == ""){
				        elementform = "Please Enter Zip/Pin code ";
				        valueis = elementform + '<br>';
				        document.getElementById('valerror').focus()
				        document.getElementById('valerror').innerHTML = valueis;
				        document.getElementById("valerror").style.display = "block";
				        return false;
				    }
				    var x = document.forms["edit_profile_frm"]["zip"].value;
				    if (isNaN(x) == true){
				        elementform = "Please Enter Numeric value in zip code";
				        valueis = elementform + '<br>';
				        document.getElementById('valerror').focus()
				        document.getElementById('valerror').innerHTML = valueis;
				        document.getElementById("valerror").style.display = "block";
				        return false;
				    }
				    var x = document.forms["edit_profile_frm"]["fax"].value;
				    if (isNaN(x) == true){
				        elementform = "Please Enter Numeric Digits in Fax No.";
				        valueis = elementform + '<br>';
				        document.getElementById('valerror').focus()
				        document.getElementById('valerror').innerHTML = valueis;
				        document.getElementById("valerror").style.display = "block";
				        return false;
				    }
			 	}   
			</script>
		</div>
	</body>
</html>
