<!DOCTYPE html> 
<html> 
    <head> 
        <title>MyDeals247 </title> 
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"> 
        <link rel="stylesheet" href="/css/jquery.mobile.css" /> 
        <link rel="stylesheet" href="/css/jquery.mobile.splitview.css"/> 
        <script src="/js/jquery.js"></script> 
        <script src="/js/db.js"></script> 
        <script type="text/javascript" src="/js/jquery-1.7.1.js"></script> 
        <script type="text/javascript" src="/js/jquery.mobile.js"></script> 
        <script>
            function validateForm()
            {
                var x=document.forms["frm2"]["email"].value;
                if (x==null || x=="")
                {
                    elementform="Please Enter e-mail address";
                    valueis=elementform+'<br>';
                    document.getElementById('valerror').focus()
                    document.getElementById('valerror').innerHTML = valueis;
                    document.getElementById("valerror").style.display="block";
                    return false;
                }
		  
                var x=document.forms["frm2"]["email"].value;
                var atpos=x.indexOf("@");
                var dotpos=x.lastIndexOf(".");
                if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length)
                {
                    elementform="Not a valid e-mail address";
                    valueis=elementform+'<br>';
                    document.getElementById('valerror').focus()
                    document.getElementById('valerror').innerHTML = valueis;
                    document.getElementById("valerror").style.display="block";
                    return false;
                }
            }
        </script>  
        <script type="text/javascript">

            $(document).ready(function(){

                $('#postemail').click(function(){
                    if(validateForm()!=false){
                        $('#valerror').html("<font color='black'>Please wait...</font> <img src='/images/load2.gif'>");
                        var user = $('#email').val();
                        $.ajax({
                            url: "/my_deals/forgot_pasword_email",
                            dataType: 'json',
                            timeout: 20000,
                            data:{user:user},
                            success:function(json){
                                if(json.success){
                                    $('#valerror').html("<font color='green'>Redirecting ...</font>")
                                    localStorage.setItem("username", user);
                                    location.href="forgot_password_2?msg="+json.msg;
                                    
                                }else{
                                    $('#valerror').html("<font color='red'>"+json.msg+"</font>");
                                }
                            }
                        });
                    }
                });
            });
        </script>  
    </head>  
    <style>
     #email::-webkit-input-placeholder
            { color:rgb(64, 62, 62); }
    </style> 
    <body> 
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
			<script type="text/javascript" src="/js/jquery.backstretch.js"></script>
			<script>
				$.backstretch(["/images/background6.jpg", "/images/background6.jpg", "/images/background6.jpg"], {
					fade : 750, //Speed of Fade
					duration : 4000	//Time of image display
				});
			</script>
        <div data-role="page" id="register"> 
            <div  data-role="header" data-theme="b"> 
                <a href="#" data-rel="back"  data-icon="back" data-iconpos="notext"></a> 
                <h1>Forgot Password</h1> 
            </div> 
            <div align="center" data-role="content"> 
                <form action="" method="post" id="frm2" name="frm2"> 
                    <ul data-role="listview" data-inset="true"> 
                      <li id="valerror" style="color:#F00;"></li>
                        <li> 
                            <fieldset data-role="controlgroup">
                                <INPUT TYPE="text" NAME="email" id="email" placeholder="Email ID" style="border: none;border-bottom: 1px solid black;background: none;"/> 
                                <span id="msg_error"></span>
                            </fieldset>  

                            <div class="ui-grid-a">
                                <div class="ui-block-a">
                                    <a id="postemail" rel="external"><img src="/images/continue.png" style="width: 98%;"></a>
                                </div>
                                <div class="ui-block-b">
                                    <a href="/" rel="external"><img src="/images/cancel.png" style="width: 98%;margin-left: 2%;"></a>
                                </div>
                            </div>
                        </li>
                    </ul> 
                </form> 
            </div>
    </body>
</html>