<!DOCTYPE html> 
<html> 
    <head> 
        <title>MyDeals247 </title> 
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"> 
        <link rel="stylesheet" href="/css/jquery.mobile.css" /> 
        <link rel="stylesheet" href="/css/jquery.mobile.splitview.css"/>
        <script src="/js/jquery.js"></script> 
        <script src="/js/db.js"></script> 
        <script type="text/javascript" src="/js/jquery-1.7.1.js"></script> 
        <script type="text/javascript" src="/js/jquery.mobile.js"></script> 

        <script>
            function validateForm()
            {
                <!---- Password ---->
                var x=document.forms["frm2"]["pass"].value;
                if (x==null || x=="")
                {
                    //alert('asd');
                    elementform="Password must be filled out";
                    valueis=elementform+'<br>';
                    document.getElementById('valerror').focus()
                    document.getElementById('valerror').innerHTML = valueis;
                    document.getElementById("valerror").style.display="block";
				 
                    return false;
                }
                var x=document.forms["frm2"]["pass"].value;
                if(x.length < 8)
                {
                    elementform="Password lenght must be more than 8 charcter";
                    valueis=elementform+'<br>';
                    document.getElementById('valerror').focus()
                    document.getElementById('valerror').innerHTML = valueis;
                    document.getElementById("valerror").style.display="block";
				 
                    return false;
                }
		
                <!---- Confirm Password ---->
				  
                var y=document.forms["frm2"]["cpass"].value;
                if (y==null || y=="")
                {
                    //alert('asd');
                    elementform="Confirm Password must be filled out";
                    valueis=elementform+'<br>';
                    document.getElementById('valerror').focus()
                    document.getElementById('valerror').innerHTML = valueis;
                    document.getElementById("valerror").style.display="block";
				 
                    return false;
                }
                var y=document.forms["frm2"]["cpass"].value;
                if(y.length < 8)
                {
                    elementform="Confirm Password lenght must be more than 8 charcter";
                    valueis=elementform+'<br>';
                    document.getElementById('valerror').focus()
                    document.getElementById('valerror').innerHTML = valueis;
                    document.getElementById("valerror").style.display="block";
				 
                    return false;
                }
		
                <!---- Password Match---->
                if (x!=y)
                {
                    //alert('asd');
                    elementform="Password does not match";
                    valueis=elementform+'<br>';
                    document.getElementById('valerror').focus()
                    document.getElementById('valerror').innerHTML = valueis;
                    document.getElementById("valerror").style.display="block";
				 
                    return false;
                }
  
            }
        </script>
        <script>

            $(document).ready(function(){
                 var msg= getUrlVars()["msg"];
                function getUrlVars() {
                    var vars = {};
                    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                        vars[key] = value;
                    });
                    return vars;
                }

                var message=unescape(msg.replace(/\+/g, " "));

                //alert("previous msg= "+message);
                $('#msg_error').html(message);

                var post=document.getElementById('postcode');
                $('#postpass').click(function(){
					$('#msg_error').html("");
	                if(validateForm()!=false)
                    {
                        $('#valerror').html("<font color='black'>Please wait...</font> <img src='/images/load2.gif'>");
                        var pass=$('#pass').val();
                        var user=localStorage.getItem("username");
                        $.ajax({
                            url: "/my_deals/forgot_pasword_change",
                            dataType: 'json',
                            timeout: 20000,
                            data:{pass:pass,user:user},
                            success: function(json){
                                if(json.success){
                                	$('#valerror').html("<font color='green'>Password changed successfully. Redirecting to Login...</font>");
                                    location.href="index";
                                }else{
                                    $('#valerror').html("<font color='red'>"+json.msg+"</font>");
                                }
                            }
                        });
                    }
                });
            });


        </script>    
    </head> 
    <body> 
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
			<script type="text/javascript" src="/js/jquery.backstretch.js"></script>
			<script>
				$.backstretch(["/images/bg1.png", "/images/bg2.png", "/images/bg3.png"], {
					fade : 750, //Speed of Fade
					duration : 4000	//Time of image display
				});
			</script>
        <div data-role="page" id="register"> 

            <div  data-role="header" data-theme="b"> 
                <a href="#" data-rel="back"  data-icon="back"data-iconpos="notext"></a> 
                <h1>Mydeals247</h1> 
            </div> 

            <div align="center" data-role="content"> 
                <form action="" method="post" id="frm2" name="frm2"> 
                    <ul data-role="listview" data-inset="true"> 
                       <span id="msg_error"></span>
                        <li id="valerror" style="color:#F00;"></li>

                        <li> 
                            <fieldset data-role="controlgroup">
                                <INPUT TYPE="password" NAME="pass" id="pass" placeholder="New Password" style="border: none;border-bottom: 1px solid black;background: none;"> 
                                <span id="msg_error"></span>
                            </fieldset>  

                            <fieldset data-role="controlgroup">
                                <INPUT TYPE="password" NAME="cpass" id="cpass" placeholder="Confirm Password" style="border: none;border-bottom: 1px solid black;background: none;"> 
                                <span id="msg_error"></span>
                            </fieldset> 

                            <div class="ui-grid-a">
                                <div class="ui-block-a">
                                    <a href="#" data-theme="b" data-role="button" id="postpass" rel="external">Change</a>
                                </div>
                                <div class="ui-block-b">
                                    <a href="index" data-role="button" data-theme="c" rel="external">Cancel</a>
                                </div>
                            </div>
                        </li>
                    </ul> 
                </form> 
            </div>
    </body>
</html>