<!DOCTYPE html> 
<html> 
    <head> 
        <title>MyDeals247 </title> 
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"> 
        <link rel="stylesheet" href="/css/jquery.mobile.css" /> 
        <link rel="stylesheet" href="/css/jquery.mobile.splitview.css"/>
        <script src="/js/jquery.js"></script> 
        <script src="/js/db.js"></script> 
        <script type="text/javascript" src="/js/jquery-1.7.1.js"></script> 
        <script type="text/javascript" src="/js/jquery.mobile.js"></script> 
        <script>
            function validateForm()
            {
                var x=document.forms["frm2"]["code"].value;
                if (x==null || x=="")
                {
                    elementform="Please Enter Security Code";
                    valueis=elementform+'<br>';
                    document.getElementById('valerror').focus()
                    document.getElementById('valerror').innerHTML = valueis;
                    document.getElementById("valerror").style.display="block";
                    return false;
                }
		  
            }
        </script>  
        <script>

            $(document).ready(function(){
                var msg= getUrlVars()["msg"];
                function getUrlVars() {
                    var vars = {};
                    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                        vars[key] = value;
                    });
                    return vars;
                }
                var message=unescape(msg.replace(/\+/g, " "));
                $('#msg_error').html(message);
                var post=document.getElementById('postcode');
                $('#postcode').click(function(){
                    $('#msg_error').html("");
                    if(validateForm()!=false)
                    {
                        $('#valerror').html("<font color='black'>Please wait...</font> <img src='/images/load2.gif'>");
                        var code=$('#code').val();
                        var user=localStorage.getItem("username");

                        $.ajax({
                            url: "/my_deals/forgot_pasword_scode",
                            dataType: 'json',
                            timeout: 20000,
                            data:{code:code,user:user},
                            success: function(json){
                                if(json.success){
                                	$('#valerror').html("<font color='green'>Redirecting ...</font>");
                                    location.href="forgot_password_3?msg="+json.msg;
		                        }else{
		                        	$('#valerror').html("<font color='red'>"+json.msg+"</font>");
                                    $("#valerror").show();
                                }
                            }
		  
                        });
                    }
                });
            });
        </script>    
    </head> 
    <body> 
    	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
			<script type="text/javascript" src="/js/jquery.backstretch.js"></script>
			<script>
				$.backstretch(["/images/bg1.png", "/images/bg2.png", "/images/bg3.png"], {
					fade : 750, //Speed of Fade
					duration : 4000	//Time of image display
				});
			</script>
        <div data-role="page" id="register"> 
            <div  data-role="header" data-theme="b"> 
                <a href="#" data-rel="back"  data-icon="back"data-iconpos="notext"></a> 
                <h1>Enter Security Code</h1> 
            </div> 
            <div align="center" data-role="content"> 
                <form action="" method="post" id="frm2" name="frm2"> 
                    <ul data-role="listview" data-inset="true"> 
                        <span id="msg_error"></span>
                        <br>
                        <li id="valerror" style="color:#F00;"></li>
                        <li> 
                            <fieldset data-role="controlgroup">
                                <INPUT TYPE="text" NAME="code" id="code" placeholder="Enter 6 digit code" style="border: none;border-bottom: 1px solid black;background: none;"> 

                            </fieldset>  
                            <div class="ui-grid-a">
                                <div class="ui-block-a">
                                    <a href="#" id="postcode" ><img src="/images/continue.png" style="width: 90%;"></a>
                                </div>
                                <div class="ui-block-b">
                                    <a href="/" rel="external"><img src="/images/cancel.png" style="width: 90%;"></a>
                                </div>
                            </div>
                        </li>
                    </ul> 
                </form> 
            </div>
    </body>
</html>