<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="/css/custome.css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/css/jquerymobile.css" />
		<link rel="stylesheet" href="/css/jquerymobile.nativedroid.css" />
		<link rel="stylesheet" href="/css/jquerymobile.nativedroid.light.css"  id='jQMnDTheme' />
		<link rel="stylesheet" href="/css/jquerymobile.nativedroid.color.yellow.css" id='jQMnDColor' />
		<script src="/js/jquery-1.9.1.js"></script>
		<script src="/js/jquery.mobile-1.3.1.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
	</head>
	<body>
		<div data-role="page" id="my_profile" data-theme="b">
			<script>
				$(document).ready(function() {
					var auth_token = localStorage.getItem("auth");
					if(auth_token == null)
		        		window.location.href = "login" 
					$.ajax({
						url : "/my_deals/view_my_profile",
						dataType : 'json',
						timeout : 15000,
						data : {
							auth_token : auth_token
						},
						success : function(json) {
							$("#error").html("");
							$.each(json.ads_to_dispaly, function(i, item) {
								var val = item.coupon.name;
								var id = item.coupon.id;
								var desc = item.coupon.description;
								var f_name = item.coupon.ad_detail_field_name
								var paid = item.coupon.user_earning;
								var Answer = item.coupon.had_answered;
								if (desc == null)
									desc = "";
								if (f_name == null)
									f_name = "";
								var img = item.coupon.coupon_img_file_name;
								var mydiv = document.getElementById("vmarquee");
								if ( Answer = 'false') {
									mydiv.innerHTML += "<a id=" + id + " class='inputClass'><b style='color:grey;'>" + item.coupon.name + "</b><br><b style='color:grey;'>Get Paid Rs:" + paid + "</b><br><img src='" + item.coupon.ad_img_root + "/system/coupon_imgs/" + item.coupon.id + "/medium/" + item.coupon.coupon_img_file_name + "' height='100' width='100' style='cursor: pointer;'></a><br/><br/><hr><br>";

								} else if ( Answer = 'true') {
									mydiv.innerHTML += "<a id=" + id + " class='inputClass'><b style='color:grey;'>" + item.coupon.name + "</b><br><b style='color:red;'>You Answered.!</b><br><img src='" + item.coupon.ad_img_root + "/system/coupon_imgs/" + item.coupon.id + "/medium/" + item.coupon.coupon_img_file_name + "' height='100' width='100' style='cursor: pointer;'></a><br/><br/><hr><br>";

								}
								$(document).ready(function() {
									$('.inputClass').each(function() {
										$(this).click(function() {
											var mid = $(this).attr('id');
											window.location.href = "ad_detail?id=" + mid;

										});
									});
								});
							});
						}
					});

				});
			</script>
			<%if !session[:uType].blank? && session[:uType] == "buyer" %>
			<%= render :partial => "my_deals/buyer_sub_menu" , :locals => {:header => "Paid ADs"}%>
			<%else -%>
			<%= render :partial => "my_deals/seller_sub_menu" , :locals => {:header => "Paid ADs"}%>
			<%end -%>
			<div data-role="content" align="center" id="vmarquee">
				<div id="error"><img src='/images/load2.gif'></div>
				<div class='inset' id="profile_details" style="display: none">
					<ul data-role="listview">
						<li>
							<div style="width: 100%;float: left;margin-top: 2%">
								<div class="profile">
									Profile
								</div>
								<div class="pro_info">
									<span>Name:</span><span id="name"></span>
									<br>
									<span>Email:</span><span id="email"></span>
									<br>
									<span>Mobile:</span><span id="mobile"></span>
									<br>
									<span>Current Location:</span><span id="current_location"></span>
									<br>
									<span>Experience Level:</span><span id="experience_level"></span>
									<br>
									<span>Expected Anual Salary:</span><span id="expected_sal"></span>
									<br>
								</div>
								<div class="pro_image"></div>
							</div>
							<div style="width: 100%;float: left;margin-top: 2%;">
								<div class="job_details">
									Job Detail(s)
								</div>
								<div class="job_info">
									<span>Employer:</span><span style id="employer"></span>
									<br>
									<span>Current Job Duration:</span><span id="current_job_duration"></span>
									<br>
									<span>Current Annual CTC:</span><span id="current_ctc"></span>
									<br>
								</div>
							</div>
							<div style="width: 100%;float: left;margin-top: 2%;">
								<div class="education">
									Education
								</div>
								<div class="edu_info">
									<span>Qualification Level:</span><span style id="qulification_level"></span>
									<br>
									<span>Educational Institute:</span><span id="institute"></span>
									<br>
									<span>% of Marks:</span><span id="marks_perc"></span>
									<br>
									<span>Course Type:</span><span id="course_tye"></span>
									<br>
									<span>Degree(s):</span><span id="degree"></span>
									<br>
									<span>Specializations:</span><span id="specialization"></span>
									<br>
								</div>

							</div>

							<div style="width: 100%;float: left;margin-top: 2%;">
								<div class="location">
									Preferred Locations
								</div>
								<div class="location_info">
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>

