<div class="ui-panel-content-wrap ui-body-b ui-panel-animate ui-panel-content-wrap-closed">
    <div align="center" data-role="content" id="high" class="ui-content" role="main">
        <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
            <li id="msg_bar" class="ui-li ui-li-static ui-body-c ui-btn-up-b ui-first-child ui-last-child"></li>
        </ul>
        <form id="skill_match_post" method="post">
            <div id="job_details_div">
                <ul data-role="listview" data-inset="true" id="head_ul" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
                    <li class="ui-li ui-li-static ui-btn-up-b ui-first-child ui-last-child">
                        <div style="margin:20px 0 0 0px;border: 1px solid rgba(0, 0, 0, 0.26);box-shadow: 0 0 12px 5px rgba(200, 200, 200, 0.92);margin-bottom: 15px;overflow:auto;">
                            <div style="margin: 10px 0 0 10px;float:left;width: 20%;">
                                <img src="http://mydeals247.com/system/merchant_imgs/10397/tiny/ico_add_avatar.png?1389696902" style="vertical-align: middle" height="75px" width="75px">
                            </div>
                            <div style="font-size:15px; width: 95%;float: left;margin: 10px 20px; ">
                                <strong style="color: #4797c2;font-size: 18px;text-transform: uppercase;"> Apple N Orange</strong>
                                <br>
                                Looking for <strong style="color: #4797c2;font-size: 18px;font-family: " calibri",="" garamond,="" comic="" sans"="">Branch Coordinator</strong> in the <strong style="color: #4797c2;font-size: 18px;font-family: " calibri",="" garamond,="" comic="" sans"="">Banking</strong> industry
                                <br>
                                Location(s) : <strong style="color: #4797c2;"> Rewa, Bangalore, Jabalpur</strong>
                                <br>
                                Deadline : <strong style="color: #4797c2;">28-Feb-2015</strong>
                            </div>
                        </div>
                        <div id="jb_detail_div">
                            <div style="border: 1px solid rgba(0, 0, 0, 0.26);  box-shadow: 0 0 12px 5px rgba(200, 200, 200, 0.92);  margin-bottom: 15px;">
                                <table width="95%" align="center" style="margin-bottom: 15px;margin-left: 15px;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="min-height: 10px;">&nbsp;</td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;margin-top: 5px;">
                                            <td colspan="3" style="color: white"><strong style="background: grey;border-radius: 10px;padding: 5px 10px 5px 10px;">Job Description</strong></td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td style="overflow: hidden;text-align:justify;text-overflow:ellipsis;max-width: 95%;width: 95%" valign="top" colspan="3">
                                            <p class="ui-li-desc">
                                                Banking coordinator....
                                            </p>
                                            <p class="ui-li-desc">
                                                &nbsp;
                                            </p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div style="border: 1px solid rgba(0, 0, 0, 0.26);  box-shadow: 0 0 12px 5px rgba(200, 200, 200, 0.92);  margin-bottom: 15px;">
                                <table width="95%" align="center" style="margin-bottom: 15px;margin-left: 15px;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td colspan="3" style="min-height: 10px;">&nbsp;</td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;margin-top: 5px;">
                                            <td colspan="3" style="color: white"><strong style="background: grey;border-radius: 10px;padding: 5px 10px 5px 10px;">Requirements</strong></td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td style="padding: 20px 10px 0px 0px;"><strong>Minimum Experience :</strong></td><td style="padding: 20px 10px 0px 5px;"> 2 Year(s) </td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td width="23%" valign="top"><strong>Experience Level :</strong></td><td width="75%">Professional Level (more than 2 years of experience)</td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td valign="top"><strong>Required Degree(s) :</strong></td><td> BE / B.Tech / BS&nbsp;<strong>or any other relevant degree</strong></td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td><strong>Number of Open Position(s) :</strong></td><td>50</td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td><strong>Job Type :</strong></td><td>Full-time</td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td><strong>Candidate Type :</strong></td><td> Fresher/Experienced </td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td><strong>Academic Percentage :</strong></td><td>50%</td>
                                        </tr>
                                        <tr style="margin-bottom: 5px;">
                                            <td><strong>Required Gender :</strong></td><td> Male/Female </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="ui-grid-a" id="nxt_to_skills">
                                    <div class="ui-block-a">
                                        <a href="#" data-role="button" data-theme="b" onclick="nextStep();" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all"><span class="ui-btn-inner"><span class="ui-btn-text">Next</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div style="box-shadow: rgba(200, 200, 200, 0.921569) 0px 0px 12px 5px; border: 1px solid rgba(0, 0, 0, 0.258824); overflow: auto; margin-bottom: 15px; table-layout: fixed;display:none;" id="job_posting_skillset">
                                <table width="100%">
                                    <tbody style="margin-left: 30px;">
                                        <tr>
                                            <td width="100%" valign="top" align="left">
                                            <div align="center" style="background-color:#FE9600;color:#FFFFFF;font-size:14px;padding:5px 0 5px 0;">
                                                <strong>Please select <span id="max_no_skill"></span> of your best skills below</strong>
                                            </div>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="991" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>Accounting</strong> with <strong> 1 </strong> year(s) of experience (Beginner Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="992" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>Ledgers</strong> with <strong> 1 </strong> year(s) of experience (Beginner Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="993" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>Mainframe</strong> with <strong> 1 </strong> year(s) of experience (Beginner Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="994" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>ADLJ</strong> with <strong> 2 </strong> year(s) of experience (Intermediate Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="995" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>ASDJHAKJHDKJ</strong> with <strong> 1 </strong> year(s) of experience (Intermediate Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="996" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>KAJDKAJDL</strong> with <strong> 2 </strong> year(s) of experience (Intermediate Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="997" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>ASDHAKJ</strong> with <strong> 2 </strong> year(s) of experience (Beginner Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="998" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>SADAHKJDHAKDJ</strong> with <strong> 2 </strong> year(s) of experience (Intermediate Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="999" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>KJSHDKJAHKDS</strong> with <strong> 2 </strong> year(s) of experience (Intermediate Level)
                                            </p>
                                            <p class="ui-li-desc">
                                                <input type="checkbox" class="refskills" ref="skillset_check" name="having_skill_ids[]" onclick="checkskills(this);" value="1000" style="margin: 0.4%;" data-role="none" data-theme="b">
                                                &nbsp;<strong>ASHDKHAKDHK</strong> with <strong> 2 </strong> year(s) of experience (Intermediate Level)
                                            </p>
                                            <input type="hidden" name="posting_required_skills" id="posting_required_skills" value="5">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="ui-grid-a" id="btns_job_skils">
                                    <div class="ui-block-a">
                                        <a href="#" data-role="button" data-theme="b" onclick="nextStep_to_apply();" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all"><span class="ui-btn-inner"><span class="ui-btn-text">Next</span></span></a>
                                    </div>
                                    <div class="ui-block-b">
                                        <a href="#" data-role="button" data-theme="c" onclick="back_to_job_details();" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all"><span class="ui-btn-inner"><span class="ui-btn-text">Back</span></span></a>
                                    </div>
                                </div>
                            </div>
                            <div style="border: 1px solid rgba(0, 0, 0, 0.26);  box-shadow: 0 0 12px 5px rgba(200, 200, 200, 0.92);  margin-bottom: 15px;display:none;" id="job_posting_questions">
                                <table width="95%" align="center" style="margin-bottom: 15px;margin-left: 15px;table-layout:fixed;">
                                    <tbody>
                                        <tr>
                                            <td valign="top">
                                            <table width="100%">
                                                <tbody style="margin-left: 30px;">
                                                    <tr>
                                                        <td width="100%" valign="top" align="left" colspan="2">
                                                        <div align="center" style="background-color:#FE9600;color:#FFFFFF;font-size:14px;padding:5px 0 5px 0;">
                                                            <strong>Please provide answer to below questions</strong>
                                                        </div>
                                                        <div style="margin: 10px 10px;">
                                                            &nbsp;<strong>1.&nbsp;How do you justify that you are the right fit for this job?</strong>
                                                            <br>
                                                            <textarea name="answer_to_267" id="answer_to_1" onkeyup="limitWords(this.id);" style="width: 100%;height:70px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset"></textarea>
                                                        </div>
                                                        <div style="margin: 10px 10px;">
                                                            &nbsp;<strong>2.&nbsp;What is your greatest strength?</strong>
                                                            <br>
                                                            <textarea name="answer_to_268" id="answer_to_2" onkeyup="limitWords(this.id);" style="width: 100%;height:70px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset"></textarea>
                                                        </div>
                                                        <div style="margin: 10px 10px;">
                                                            &nbsp;<strong>3.&nbsp;What is the most important thing in your personal/professional life?</strong>
                                                            <br>
                                                            <textarea name="answer_to_269" id="answer_to_3" onkeyup="limitWords(this.id);" style="width: 100%;height:70px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;" class="ui-input-text ui-body-b ui-corner-all ui-shadow-inset"></textarea>
                                                        </div>
                                                        <input type="hidden" id="total_job_questions" name="total_job_questions" value="3">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 200px;">Please Mention your Notice Period:</td><td>
                                                        <div class="ui-select">
                                                            <div data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="arrow-d" data-iconpos="right" data-theme="b" class="ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all ui-btn-icon-right">
                                                                <span class="ui-btn-inner"><span class="ui-btn-text"><span>Immediately Available</span></span><span class="ui-icon ui-icon-arrow-d ui-icon-shadow">&nbsp;</span></span>
                                                                <select id="notice_period" name="notice_period">
                                                                    <option value="Immediately Available">Immediately Available</option><option value="1 Week">1 Week</option><option value="2 Weeks">2 Weeks</option><option value="3 Weeks">3 Weeks</option><option value="1 Month">1 Month</option><option value="45 Days">45 Days</option><option value="2 Months">2 Months</option><option value="3 Months">3 Months</option>
                                                                </select>
                                                            </div>
                                                        </div></td>
                                                    </tr>
                                                </tbody>
                                            </table></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="ui-grid-a" id="btn_jobques">
                                    <div class="ui-block-a">
                                        <a href="#" data-role="button" data-theme="b" onclick="apply_job();" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-b ui-shadow ui-btn-corner-all"><span class="ui-btn-inner"><span class="ui-btn-text">Apply &gt;&gt;</span></span></a>
                                    </div>
                                    <div class="ui-block-b">
                                        <a href="#" data-role="button" data-theme="c" onclick="back_to_skillset_details();" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all"><span class="ui-btn-inner"><span class="ui-btn-text">Back</span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <input type="hidden" name="job_posting_id" id="job_posting_id" value="67">
            <input type="hidden" name="auth_token" id="auth_token" value="cmJ1eWVyLm15ZGVhbHMyNDdAZ21haWwuY29tOmFiY2QxMjM0">
        </form>
    </div>
</div>