<html>
	 <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/css/custome.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/jquerymobile.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.css" />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.light.css"  id='jQMnDTheme' />
        <link rel="stylesheet" href="/css/jquerymobile.nativedroid.color.yellow.css" id='jQMnDColor' />
        <script src="/js/jquery-1.9.1.js"></script>
        <script src="/js/jquery.mobile-1.3.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery.countdown.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
    </head>
	<body>
	<div data-role="page" id="volume_deal_listing">
	<script type="text/javascript" src="/js/jquery.countdown.js"></script>
	<script>
	var q=new Array();
	var d=new Array();
	var discount;
	var c=0;
	
	$(document).ready(function() {
       var auth_token=localStorage.getItem("auth");
        $("#error").html("<img src='/images/load2.gif'>");
	
	if(auth_token == null)
		window.location.href = "login" 
	$.ajax({
	  url: "/my_deals/volume_deal_login",
	  dataType: 'json',
	  timeout: 120000,
	  data:{auth_token:auth_token},
	  success: function(json)
	  {	
         if (json.total_count == 0) {
	                    $("#error").html("<font color='blue'><b>Currently no deals found</b></font>");
	                }else{
                        $.each(json.Deals_Posted, function(i, item) {
	                    var c = 0;
	                    $.each(this.deal.quatative_discounts, function(x, item1) {
	                        if (c < 5)
	                        {
	                            q[c] = this.quantitative_discount.quatity;
	                            d[c] = this.quantitative_discount.discount;
	                            c++;
	                        }
	                    });
	                    var maxdisc = ((item.deal.base_price) * d[0]) / 100;
	                    var lp = (item.deal.base_price) - maxdisc;
	                    var lp = Math.round(lp);
	                    document.getElementById("vmarquee").innerHTML += "<table id='content1' style='border-bottom: 1px dotted black;border-top: 1px dotted black;width:100%'> <tr><td style='padding:5px 10px 10px 5px;border:0;border-right: 1px dotted black;width:20%;'><img src='" + item.deal.deal_img_root + "/system/deal_imgs/" + item.deal.id + "/thumb/" + item.deal.deal_img_file_name + "' height='100' width='100'></td><td style='padding:5px 10px 10px 5px;border:0;border-right: 1px dotted black;width:60%;'><font size='-1' color='blue'>" + this.deal.name + "</font><br><font size='-1' color = 'green'>Lowest Price: <span class='WebRupee'>Rs.</span>" + lp + "</font><br><font size='-1' color = 'red'>Actual Retail Price: <span class='WebRupee'>Rs.</span>" + this.deal.base_price + "</font><br><font size='-2'>*Based on volume purchase.&nbsp;&nbsp;&nbsp;&nbsp;</font> </td><td style='padding:5px 10px 10px 5px;border:0;border-right: 1px dotted black;width:20%;'><font size='-2'><div id='count" + this.deal.id + "'> </div></font><br><input id=" + this.deal.id + " type='button' value='Detail' class='inputClass'/></td></tr></table> <br>";
	                    var dt = new Date();
	                    dt = new Date(this.deal.end_date);
	                    $("#count" + this.deal.id + "").countdown({until: dt, compact: true, format: 'DHMS'});
	                    $(document).ready(function() {
	                        $('.inputClass').each(function() {
	                            $(this).click(function() {
	                                var id = $(this).attr('id');
	                                window.location.href = 'volume_deals_buy?id=' + id;
	                            });
	                        });
	                    });
	
	                });
	                $("#error").hide();
	               } 
	            }
	        });
	    });
	</script>
	<%if !session[:uType].blank? && session[:uType] == "buyer" %>
		<%=render :partial => "my_deals/buyer_sub_menu" , :locals => {:header => "Volume Deals"}%>
	<%else -%>
		<%=render :partial => "my_deals/seller_sub_menu" , :locals => {:header => "Volume Deals"}%>
	<%end -%>	
	<div data-role="content" align="center" id="vmarquee"> 
		<div id="error"><img src='/images/load2.gif'></div>
	</div>
	</div>
</body>
</html>
